[
    (
        text: "Blog",
        uri: "https://atomgomba.github.io",
    ),
    (
        text: "GitHub",
        uri: "https://github.com/atomgomba",
    ),
    (
        text: "Instagram",
        uri: "https://www.instagram.com/reptethetetlen/",
    ),
    (
        text: "VJ Emulator",
        uri: "https://ekezet.com/res/vjemu.html",
    ),
    (
        text: "Party Zone",
        uri: "https://ekezet.com/res/partizona.html",
    ),
]
